{% load staticfiles %}
<html>
	<head>
	<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<title>KJB Financial Report</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static "css/blog.css" %}">
	</head>
	<body>
		<div class="page-header">
			<h1><a href="/">Annuity</a></h1>
		</div>

		<div class="Little-title">
			<h1>What is it?</h1>
			<h3>
			Annuity는 사전에 정해진 기간중에 일정한 간격을 두고 일련의 지급이 계속적으로 이루어지는 형태로써 cashflow에 초점이 맞춰진 반면,<br>
			Pension은 늙거나 병들어 더 이상 돈을 벌지 못하는 이들에게 정기적으로 지급되는 금액의 의미로써 복지적인 성격이 강합니다</h3>
		</div>
		
		<div class="Little-title">
			<h1>How to calculate?</h1>
			<h3></h3>
		</div>
		
		<div class="Little-title">
			<h1>For example</h1>
			<h2>Duration</h2>
		</div>


		</div>
	</body>
</html>