{% load staticfiles %}
<html>
	<head>
	<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<title>KJB Financial Report</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static "css/blog.css" %}">
	</head>
	<body>
		<div class="page-header">
			<h1><a href="/">Bond</a></h1>
		</div>

		<div class="Little-title">
			<h1>What is it?</h1>
			<h3></h3>
		</div>
		
		<div class="Little-title">
			<h1>How to calculate?</h1>
			<h3></h3>
		</div>
		
		<div class="Little-title">
			<h1>For example</h1>
			<h2>Duration</h2>
		</div>


		</div>
	</body>
</html>