{% load staticfiles %}
<html>
	<head>
	<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<title>KJB Financial Report</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static "css/blog.css" %}">
	</head>
	<body>
		<div class="page-header">
			<h1><a href="/">Portfolio Investment</a></h1>
		</div>

		<div class="Little-title">
			<h1>What is it?</h1>
			<h3>국제자본의 이동형태는 크게 직접투자와 포트폴리오투자로 구분할 수 있는데,<br>
			기업의 경영권을 획득할 목적으로 투자하는 것이 직접투자인데 반해,<br>
			경영참가에는 관심이 없이 투자수익획득을 위하여 각종 유가증권 등에 투자하는 것을 포트폴리오투자라고 한다.<br>

포트폴리오투자의 특징으로는 투자대상자산의 수익성에 직접적으로 영향을 미치는 투자 대상국<br>
통화의 환율, 금리, 세율 등의 추이뿐만 아니라 투자자의 수익-위험(riskreturn)에 대한 선호도에 따른<br>
포트폴리오조정에 의해 크게 좌우되는 점을 들 수 있다.</h3>
		</div>
		
		
		<div class="Little-title">
			<h1>For example</h1>
			<h3>다음은 코스닥에서 임의로 결정된 상장기업을 포트폴리오 투자했을시의 그래프입니다.<br>
			X축은 기대수익률이며, Y축은 변동성을 나타냅니다.<br>
			일단, 임의의 시장수익선을 추가하여, 최소분산포트폴리오에 접점이 생기게끔 맞닺게 해보았습니다.</h3>
			<img src="C:/dj/Efficient frontier1.png">
			<h2>Chart</h2>
		</div>


		</div>
	</body>
</html>